<nav>
    <ul>
        <!-- <li>
            <a routerLink="home">Home</a>
        </li> -->
        <li *ngIf="!(authService.isLoggedIn | async)">
            <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="!(authService.isLoggedIn | async)">
            <a routerLink="/register">Register</a>
        </li>
        <li *ngIf="authService.isLoggedIn | async">
            <a routerLink="dashboard">Dashboard</a>
        </li>
        <li *ngIf="(authService.isLoggedIn | async) && sessionService.accountType === 'BUYER'">
            <a routerLink="/payment">Checkout</a>
        </li>
        <li *ngIf="(authService.isLoggedIn | async) && sessionService.accountType === 'BUYER'">
            <a routerLink="/cart">Cart</a>
        </li>
        <li *ngIf="(authService.isLoggedIn | async) && sessionService.accountType === 'SELLER'">
            <a routerLink="/addProduct">Add a product</a>
        </li>
        <li *ngIf="(authService.isLoggedIn | async) && sessionService.accountType === 'SELLER'">
            <a routerLink="/fileUpload">upload picture</a>
        </li>
        <li *ngIf="authService.isLoggedIn | async">
            <a routerLink="logout" (click)="logout()">Logout</a>
        </li>
        
    </ul>
</nav>
