<div class="login">
    <h2>Login</h2>
    <div class="login-form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" [(ngModel)]="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" [(ngModel)]="password">
        </div>
        <div class="form-group">
            <button (click)="submitLogin()" *ngIf="username != '' && password != ''">submit</button>
        </div>
    </div>
</div>
