<div>
    <label><strong>First name</strong></label>
    <input type="text" placeholder="firstname">
</div>
<div>
    <label><strong>Last name</strong></label>
    <input type="text" placeholder="lastname">
</div>
<div>
    <label><strong>Country</strong></label>
    <input type="text" placeholder="">
</div>
<div>
    <label><strong>City</strong></label>
    <input type="text" placeholder="">
</div>
<div>
    <label><strong>ZipCode</strong></label>
    <input type="text" placeholder="">
</div>
<div>
    <label><strong>Phone</strong></label>
    <input type="text" placeholder="">
</div>
<div>
    <label><strong>Email</strong></label>
    <input type="text" placeholder="">
</div>