<h2>Register your new Product</h2>


<br>
<label>Product name:</label>
<input type="text" id = name [(ngModel)]="newProduct.name">
<br>
<label>Product description:</label>
<input type="text" id = desc [(ngModel)]="newProduct.description">
<br>
<label>Category:</label>
<input type="text" id = category [(ngModel)]="newProduct.category">
<br>
<label>Price:</label>
<input type="number" id = price [(ngModel)] = "newProduct.price">
<br>
<label>Current Inventory:</label>
<input type="number" id = inventory [(ngModel)] = "newProduct.inventoryCount">
<br><br>
<button (click)="registerProduct()" *ngIf="newProduct.name != '' && newProduct.description != '' && newProduct.category != '' && newProduct.price > 0 && newProduct.inventoryCount >= 0; else dullButton">Add product</button>
<ng-template #dullButton>
    <button disabled="true">Add product</button>
</ng-template>
<br>
