<div class="register">
    <div *ngIf="message!=''">{{message}}</div>
    <div class="register-form">
        <div class="form-group">
            <label>Enter your username </label>
            <input type="text" placeholder="username" [(ngModel)]="user.username">
        </div>
        <div class="form-group">
            <label>Enter your password </label>
            <input type="password" placeholder="*****" [(ngModel)]="user.password">
        </div>
        <div class="form-group">
            <label>Enter your email </label>
            <input type="text" placeholder="email" [(ngModel)]="user.email">
        </div>
        <div class="form-group">
            <label>Enter your phone </label>
            <input type="text" placeholder="phone" [(ngModel)]="user.phone">
        </div>
        <div class="form-group">
            <select [(ngModel)]="user.accountType">
                <option value="" disabled selected hidden>Please Choose...</option>
                <option value="BUYER">buyer</option>
                <option value="SELLER">seller</option>
            </select>
        </div>
        <div class="form-group" *ngIf="user.accountType == 'SELLER'">
            <label>Enter your business address </label>
            <input type="text" placeholder="address" [(ngModel)]="address">
        </div>
        <div class="form-group" *ngIf="user.accountType == 'BUYER'">
            <label>Enter your firstname </label>
            <input type="text" placeholder="firstname" [(ngModel)]="firstname">
        </div>
        <div class="form-group" *ngIf="user.accountType == 'BUYER'">
            <label>Enter your lastname </label>
            <input type="text" placeholder="lastname" [(ngModel)]="lastname">
        </div>
        <div>
            <button (click)="registerAccount()">Submit</button>
        </div>
    </div>
</div>